:root{
  --color1:rgba(115, 115, 115, 1);
  --color2: rgba(37, 43, 66, 1);
  --color3: rgba(13, 92, 99, 1);
  --color4: rgba(255, 123, 71, 1);
  --color5:rgba(255, 255, 255, 1);
  --size1: 14px;
  --size2: 16px;
  --size3: 20px;
  --size4: 24px;
  --size5: 40px;
  --weight1: 500;
  --weight2: 600;
  --weight3: 700;
  --weight4: 800;
}
*,
*::after,
*::before{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color:inherit;
}
html{
  height: 100%;
}
body{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2px;
  font-size: var(--size1);
  font-weight: var(--weight3);
  color: var(--color1);
}
.wrapper{
  min-height: 100%;
  /* width: 100vw;
  margin: 0 auto; */
  outline: 1px solid blue;

}
.container{
  /* padding: 0 195px; */
  outline: 1px solid red;
  max-width: 1043px;
  margin: 0 auto;
  /* background-color: pink; */
  
}
/* HEADER */
.header {
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.header__nav {
  height: 104px;
}
.nav {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 187px) minmax(auto, 863px) 1fr;
  align-items: center;
}
.nav__logo {
  width: 187px;
  height: 58px;
  grid-column:2/3;
  display: flex;
  align-items: center;
}
.nav__list {
  display: grid;
  grid-template: 1fr/repeat(4,minmax(45px,auto)) +1fr;
  grid-auto-flow: column;
  column-gap: 21px;
  justify-items: start;
  grid-column: 3/4;
  padding-left: 36px;
}
/* header__introduce */
.header__introduce {
  max-width: 509px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 80px 0;
}
.introduce__title {
  font-size: 58px;
  line-height: 80px;
  font-weight: 800;
  color: var(--color2);
}
.introduce__text {
  width: 350px;
  font-size: var(--size3);
  font-weight: 500;
  margin: 35px 0;
}
.introduce__buttons{
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}
.introduce__button {
  display: flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  width:185px;
  height: 48px;
  border: 1px solid var(--color3);
  border-radius: 37px;
  background-color: transparent;
  font-weight: 700;
  color:var(--color3);
  }
.introduce__button_active,
.introduce__button:hover {
  border: 1px solid var(--color4);
  background-color:var(--color4);
  color:var(--color5);
  }
.introduce__button_active {
  color:var(--color5);
}
/* header__brand */
.items {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.brand__item {
  flex: 1;
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  background-color: #fff;
  box-shadow: 0 13px 19px -7px #000;
}
.brand__title {
  font-size: var(--size4);
  color:var(--color2);
  font-weight: 700;
}
/* .brand__text {
  color: var(--color1);
} */
.brand__item:hover{
  background-color: var(--color3);
  box-shadow:none;
}
.brand__item:hover .brand__title,
.brand__item:hover .brand__text{
  color:var(--color5);
}
.brand__item:hover .brand__icon img{
  filter:brightness(25)
}
.brand__item_active{
  background-color: var(--color3);
  box-shadow:none;
}
.brand__item_active .brand__title,
.brand__item_active .brand__text{
  color:var(--color5);
  letter-spacing:1.5px;
}
/* MAIN */
/* SECTION EXPERIENCE */
.experience,
.advice,
.about,
.getInTouch{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  padding: 80px 0;
  background-color: #fafafa;
}
.title{
  display: flex;
  flex-direction: column;
  align-items:center;
  row-gap: 10px;
  background-color: inherit;
}
.title__title{
  font-size: var(--size5);
  color: var(--color2);
  line-height: 57px;
}
.title__subtitle {
  max-width: 510px;
  font-weight: 500;
  line-height: 20px;
}
.experience__items {
  width: 100%;
  margin-top: 50px;
}
.experience__item {
  flex: 1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  row-gap: 10px;
  background-color: #fff;
}
.experience__icon {
  width: 48px;
  height: 48px;
}
.experience__meaning {
  font-size: var(--size5);
  font-weight: var(--weight3);
  color: var(--color2);
  line-height: 57px;
}
.experience__text{
  font-size: var(--size2);
  font-weight: var(--weight3);
  line-height: 24px;
}
/* SECTION ADVICE */
.advice {
  padding: 125px 0 80px 0;;
}
.advice__items {
  width: 100%;
  margin-top: 45px;
  row-gap: 35px;
}
.advice__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  background-color: #fff;
}
.advice__description{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  row-gap: 15px;
}
.advice__subtitle {
  font-size: var(--size2);
  line-height: 24px;
  align-self:flex-start;
  letter-spacing: 1.3px;
}
.advice__text {
  line-height: 20px;
  font-weight: var(--weight1);
  letter-spacing: 1.3px;
}
/* SECTION ABOUT */
.about {
  padding: 100px 0 136px 0;
  background-color: #fff;
}
.about__items {
  display: grid;
  grid-template-columns: minmax(600px,auto) minmax(333px,auto);
  column-gap: 1fr;
  margin-top: 100px;
}
.about__video {
}
.about__trust {
}
.trust {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  text-align: left;
}
.trust__title{
  padding: 20px 0;
}
.trust__text {
}
.trust__items {
  
}
.trust__item1 {
  
}
.trust__item2 {
}
.trust__icon {
}
.trust__item {
  display: flex;
  column-gap: 20px;
}
.trust__description {
  margin-left: 20px;
}
.trust__subtitle p:nth-child(1){
  font-size: var(--size2);
  color: var(--color2)
}
/* SECTION CLIENTS */
.clients {
  background-color: #fafafa;
}
.clients__icons {
  display: flex;
  /* flex-wrap: wrap; */
  column-gap: 30px;
  padding: 50px 0;
  text-align: center;
  align-items:center;
  }
.clients__icon{
  flex:1;
  width: 100%;
  height: auto;
 
}
.form {
  display: flex;
  color:var(--color5);
  margin: 0 32px;
  position: relative;
}
.form__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 50px;
  background-color: #17213C;
  position: absolute;
  top: 20px;
}
.form__name {
  max-width: 266px;
  font-size: var(--size4);
}
.form__getData {
  display: flex;
  width: 450px;
  /* flex-grow: 0;
  text-align: center; */
 }
.form__input {
  padding-left: 20px;
  width: 100%;
  border-radius: 5px 0 0 5px;
}
.form__button {
  display: block;
  width: 117px;
  background-color:var(--color4);
  color:var(--color5);
  border-radius: 0 5px 5px 0;
}

.clients__row {
  width: 100%;
  height: 77px;
  background-color:rgba(37, 43, 66, 1);
  margin-top: 80px;
}
/* SECTION GET IN TOUCH */
.getInTouch{
  background-color: #f3f3f3;
  padding: 80px 0 148px 0;
}
.getInTouch__items{
  margin-top: 80px;
  column-gap: 0;
  padding: 0 32.5px;
}
.getInTouch__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 40px;
  row-gap: 15px;
  margin: 30px 0 30px 0;
  background-color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.getInTouch__subtitle{
  font-size: var(--size2);
  color: var(--color2);
  line-height: 24px;
  transition: 0.5s;
}
.getInTouch__adress{
  font-weight: var(--weight2);
  line-height: 24px;
}
.getInTouch__button{
   width: 160px;
  height: 44px;
  border: 1px solid var(--color4);
  border-radius: 5px;
  color: var(--color4);
  font-weight: var(--weight2);
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.getInTouch__item_active,
.getInTouch__item:hover{
  background-color: rgba(37, 43, 66, 1);
  color: #ffffff;
  margin: 0;
  align-self: stretch;
  padding: 80px 40px;
}
.getInTouch__item_active .getInTouch__subtitle,
.getInTouch__item:hover .getInTouch__subtitle{
  color: #fff;
}
.getInTouch__item_active .getInTouch__button,
.getInTouch__item:hover .getInTouch__button{
  color: #fff;
  border: 1px solid #fff;
}
.getInTouch__item:hover .getInTouch__icon{
  filter:brightness(25);
}
/* SECTION AGENCY FOR BUSINESS*/
.agencyForBusiness{
  background-color: #fafafa;
}
.agencyForBusiness__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;

}
.agencyForBusiness__item{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.agencyForBusiness__title{
  font-size: var(--size4);
  color: var(--color2);
  line-height: 32px;
}
.agencyForBusiness__text{
  font-weight: var(--weight1);
  line-height: 20px;
}
.agencyForBusiness__button{
  width: 163px;
  height: 58px;
  margin: 1px 21px;
  color: var(--color5);
  background-color: rgba(255, 123, 71, 1);
  border-radius: 5px;
}
/* SECTION INFO*/
.info{
  background-color: rgba(37, 43, 66, 1);
}
.info__items{
  display: grid;
  grid-template-columns: repeat(4, minmax(148px,auto)) 1fr;
  column-gap: 30px;
  padding: 50px 0;
}
.info__item{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.info__title{
  font-size: var(--size2);
  color: var(--color5);
  line-height: 24px;
}
.info__text{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: var(--color5);
  font-weight: var(--weight2);
  line-height: 24px;
}

.contacts__item{
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 10px;
  line-height: 14px;
}
/* FOOTER*/
.footer{
  padding: 25px;
}
.footer__items{
  display: flex;
  justify-content: space-between;
  align-items: center
}
.footer__left{
  font-size: 14px;
}
.footer__right{
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 0 40px;
}
.footer__icon{
  display: flex;
  height: 24px;
  align-items: center;
}